
.comteiner{
  align-items: center;
}
.form {
    background: rgb(186, 212, 230);
  }
  
  form {
    display: grid;
    width: 30rem;
    grid-template-columns: 1fr 1fr;
    column-gap: .4rem;
    row-gap: .8rem;
    background-color: #fff;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 10px 10px 39px -1px rgba(0,0,0,0.44);
    margin: auto;
  }
  form label {
    display: block;
  }
  form input{
    background-color: rgba(238, 230, 230, 0.861);
    color: rgb(27, 93, 216);
    border-radius: .5rem;
    cursor: pointer;
    border: none;
    transition-timing-function: ease-in;
    transition-duration: .8s;
    height: 2rem;

  }
  form div {
    margin: 0;
  }
    
  button {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border: none;
    background-color: rgba(19, 19, 19, 0.861);
  }
  button:hover, button:focus {
    background: #00376B;
    outline: 0;
  }